<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage persons</title>
</head>
<body>
<h1>Manage persons</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Instrument</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>John Lennon</td>
        <td>Rhythm Guitar</td>
    </tr>
    <tr>
        <td>Paul McCartney</td>
        <td>Bass</td>
    </tr>
    <tr>
        <td>George Harrison</td>
        <td>Lead Guitar</td>
    </tr>
    <tr>
        <td>Ringo Starr</td>
        <td>Drums</td>
    </tr>
    </tbody>
</table>
</body>
</html>